.card {
  margin: var(--spacing-small);
  padding-top: var(--spacing-small);
  border: 1px solid var(--line-color);
  box-shadow: var(--mat-shadow);
  border-radius: 0.2em;
  background-color: var(--element-background);
}

.card .card-title {
  font-size: 1.1em;
  font-weight: bold;
}

.card .project-name {
  font-size: 0.95em;
  font-weight: bold;
}

.card .card-subtitle {
  font-size: 0.8em;
}

.card > header {
  padding: var(--sides-only-small);
  border-bottom: 1px solid var(--line-color);
}

.card > header :last-child {
  margin-bottom: var(--spacing-small);
}

.card > footer {
  padding: var(--sides-only-small);
  border-top: 1px solid var(--line-color);
}

.card .card-content {
  padding: var(--sides-only-small);
}

.card-content > h4:first-child {
  margin-top: var(--spacing-small);
}

/* Center header content */
header.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-small);
}

/* Home button styles */
.home-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 5px;
    box-shadow: var(--mat-shadow);
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: var(--secondary-color);
    color: var(--background);
}

/* Icon inside Home button */
.home-icon {
    width: 1.5rem;
    height: 1.5rem;
}
