/* Header alignment */
header.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: var(--spacing-small);
    text-align: center;
}

/* Progress Bar */
#progress-bar {
    width: 300px; /* Adjust as necessary */
    height: 24px;
    position: relative;
    background-color: var(--background);
    border: 1px solid var(--line-color);
    border-radius: 0.2rem;
    overflow: hidden;
}

#progress-bar::before {
    content: attr(title);
    font-size: 0.8rem;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    text-align: center;
}

#progress-bar > #fill {
    background-color: var(--primary-color);
    height: 100%;
    width: 0;
    transition: width 0.5s ease-in-out;
}

#progress-bar #percent-hint {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.85rem;
    font-weight: bold;
    color: var(--text-color);
    white-space: nowrap;
}


/* Tab Bar */
#tab-bar {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: center; /* Center the items horizontally */
    gap: 1rem; /* Space between the buttons */
    max-width: 400px; /* Adjust width as needed */
    margin: 0 auto; /* Center the whole tab bar */
}

.tab {
    flex: 1 1 45%; /* Each button takes up approximately 45% of the row */
    padding: 0.5rem 1rem;
    background-color: var(--element-background);
    border: 1px solid var(--line-color);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.tab:hover {
    background-color: var(--primary-hover-color);
    color: var(--text-color);
}

.tab[aria-selected="true"] {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: bold;
}

